# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# clangd cache
.cache

# macOS
.DS_Store

# project files
bin
build
smlnj/tests/*.cfg
smlnj/tests/*.s
smlnj/tests/*.ll
smlnj/tests/*.o
smlnj/tests/Synthetic/.cm
smlnj/tests/Synthetic/*.cfg
smlnj/tests/Synthetic/*.s
smlnj/tests/Synthetic/*.ll
smlnj/tests/Synthetic/*.o
/include
/lib
